#Atlas_Studio {    
    box-sizing: border-box;
    /* не работает как нужно*/
    line-height: 100vh; 
    text-align: center;
    
}

.img_background {
    max-width: 1065px;
    background: url(../img/inside.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background-size: 100% auto;
}

.rec { 
    background-color: white;
    font-size: 5.5rem;
    text-align: center;
    padding: 1.5em 0.5em;
    display: inline-block;
    line-height: 1.15;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.rec h1 {
    font-weight: 300;
    margin: 0;
    font-size: 1em;
}

.rec h2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 0.22em;
}

@supports (display: flex) {
    .Atlas_Studio {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
