#Biography {
    height: 100vh;
    min-height: 37rem;
    position: relative;
    max-height: 900px;
    max-width: 1440px;
    margin: 0 auto;
}

.biography {
    bottom: 0;
    right: -5%;
    transform: rotate(-90deg);
    position: absolute;
    transform-origin: left;
}

.block_with_content {
    margin: 0 auto;
    width: 100vw;
    position: relative;
    max-width: 1400px;
}

.image {
    float: left;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: center;
}

.block_with_text {
    float: left;
    width: 50%;    
    box-sizing: border-box;
    text-align: left;
    padding-left: 5%;
    padding-right: 10%;
}

.image img {
    max-width:100%;
    max-height: 100%;
}

.block_with_text h3 {
    max-width: 25%;
}

.block_with_text h4 {
    color:#636363;
}

.block_with_text blockquote {
    box-sizing: border-box;
    padding: 1.3em 0;
}

.block_with_text h4 {
    font-weight: 500;
}

.block_with_content::after {
    content: "";
    display: block;
    clear: both;
  }

.Biography::after {
    content: "";
    display: block;
    clear: both;
  }