.biography {
    bottom: 0;
    right: -2%;
    transform: rotate(-90deg);
    position: absolute;
    transform-origin: left;
}

.block_with_content {
    margin: 0 auto;
    position: relative;
}

.biography-float {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.image {
    padding-left: 60px;
    text-align: center;
}

.block_with_text {
    text-align: left;
    padding-left: 5%;
    padding-right: 10%;

}

.image img {
    max-width:100%;
    max-height: 100%;
}

.block_with_text h3 {
    padding-top: 190px;
    padding-left: 40px;
    max-width: 25%;
    margin: 0;
}

.block_with_text h4 {
    color:#636363;
}

.block_with_text blockquote {
    box-sizing: border-box;
    margin: 0;
    padding-top: 70px;
    padding-left: 40px;
    
}

.block_with_text h4 {
    padding-top: 25px;
    padding-left: 40px;
    font-weight: 500;
}

.block_with_content::after {
    content: "";
    display: block;
    clear: both;
  }

.Biography::after {
    content: "";
    display: block;
    clear: both;
  }