@media screen and (min-width: 1024px) {
    #Designers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: flex-start;
        overflow-x: auto;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
        align-items: baseline;
    }
    
    .designers {
        top: 275px;
        right: 370px;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: right;
    }
    
    .block {
        margin: 0;
        width: 25%;
        padding-left: 2%;
        box-sizing: border-box;
        position: relative;
    }
    
    .block_img {
        width: 100%;
    }
    
    .jess_box {
        margin: 0;
        width: 50%;
        padding: 0;
    }
    
    .jess_box figcaption{
        margin: 0;
        padding: 0 10em;
    }
    
    .jess_box figure {
        margin: 0;
    }
}

@media screen and (max-width: 1023px) {
    #Designers {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
        align-items: baseline;
    }
    
    .designers {
        position: absolute;
        top: 170px;
        right: -190px;
        margin: 0;
    }
    
    .block {
        margin: 0;
        padding-left: 30px;
        overflow-x: hidden;
        max-width: calc(100vw * 0.61);
    }

    .jess_box {
        padding-left: 10px;
    }

    .block_img {
        height: calc(100vh * 0.45);
        width: auto;
    }
    
    .jess_box figcaption{
        margin: 0;
    }
    
    .jess_box figure {
        margin: 0;
    }
}