#Designers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-x: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    align-items: baseline;
}

.designers {
    top: -140px;
    right: 0;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: right;
}

.block {
    margin: 0;
    width: 25%;
    padding-left: 2%;
    box-sizing: border-box;
    position: relative;
}

.block_img {
    width: 100%;
}

.jess_img {
    width: 100%;
}

.jess_box {
    margin: 0;
    width: 50%;
}

.jess_box figcaption{
    margin: 0;
    padding: 0 10em;
}

.jess_box figure {
    margin: 0;
}