@font-face {
    font-family: "Butler";
    font-style: normal;
    font-weight: 400;
    src: local("Butler"), url("../fonts/Butler_Regular.otf") format("otf");
}

@font-face {
    font-family: "Butler";
    font-style: normal;
    font-weight: 300;
    src: local("Butler"), url("../fonts/Butler_Light.otf") format("otf");
}

