.text_size_18{
    font-size: 18px;
}

.text_size_87{
    font-size: 87px;
}

.text_size_18{
    font-size: 18px;
}

.text_size_32{
    font-size: 32px;
}

.text_size_16{
    font-size: 16px;
}

.text_size_34{
    font-size: 34px;
}

.text_size_92{
    font-size: 92px;
}