#Strong_points {
    max-width: 100%;
    width: min-content;
    overflow-x: auto;
}

.strength h3{
    margin: 0;
    font-weight: 300;
}

.list ul {
    list-style-type: none;
}

.list {
    display: inline-block;
    box-sizing: border-box;
    min-width: 300px;
    padding-left: 169px;
    min-height: 525px;
}

.strong {
    top: 10%;
    left: 30%;
    transform: rotate(-90deg);
    position: absolute;
}

.strength-block {
    display: inline-block;
    width: 25%;
    width: 350px;
}

.full-img {
    max-height: 525px;
    max-width: 350px;
    
}

.strength {
    height: 215px;
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 800px;
}

.con {
    white-space:nowrap;
}

.strength-block::after {
    content: "";
    display: block;
    clear: both;
  }

.Strong_points::after {
    content: "";
    display: block;
    clear: both;
  }

@supports (display: grid) {
    
    .con {
        display: grid;
        grid-template-columns: 27% 27% 38% 27%;
        grid-template-rows: 213px 525px auto;
        
    }

    .strong {
        position: relative;
        top: 0;
        transform: rotate(-90deg);
        grid-column-start: 2;
        grid-column-end: 3;
        width: 200px;

    }

    .strength {
        grid-column-start: 3;
        grid-column-end: 5;
        padding-top: 100px;
        box-sizing: border-box;
        padding-left: 45px;
    }

    .strength-block {
        max-height: 700px;
    }

    .list {
        padding-left: 169px;
        padding-left: 70px;
        max-height: 700px;
    }
    
    .strong {
        margin: 0;
    }
    
    .strength-block {
        padding-right: 10px;
    }

    .notebook {
        left: 200px;
    }

}
