#Strong_points {
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 37rem;
    max-height: 900px;
}

.strength h3{
    margin: 0;
    font-weight: 300;
}

.list ul {
    list-style-type: none;
}

.list {
    padding-left: 200px;
}

.strong {
    margin: 0;
}

.strength-block {
    padding-right: 10px;
}

.full-img {

}

.out-img {

}

.strength {
    
}

@supports (display: flex) {

    #Strong_points {

    }
}

@supports (display: grid) {

    #Strong_points {
        display: grid;
        grid-template-columns: 30% 30% 35% 5%;
        grid-template-rows: 200px 525px;
        
    }

    .strong {
        transform: rotate(-90deg);
        grid-column-start: 2;
        grid-column-end: 3;
        width: 200px;

    }

    .strength {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .pictures {
       
        
    }

    .strength-block {
        max-height: 700px;
    }

    .list {
        padding-left: 70px;
        max-height: 700px;
    }
    
    .strong {
        margin: 0;
    }
    
    .strength-block {
        padding-right: 10px;
    }
    
    .full-img {
        max-height: 100%;
        
    }
    
    .out-img {
        max-height: 100%;
        
    }

    .notebook {
        left: 200px;
    }
}
