@media screen and (min-width: 1024px) {
    #Strong_points {
        max-width: 100%;
        width: min-content;
        overflow-x: auto;
    }
    
    .strength h3{
        margin: 0;
        font-weight: 300;
    }
    
    .list ul {
        list-style-type: none;
    }
    
    .strong {
        top: 16%;
        left: 30%;
        transform: rotate(-90deg);
        position: absolute;
    }
    
    .strength-block {
        display: inline-block;
        width: 350px;
        margin-left: 22px;
    }
    
    .list {
        width: 560px;
        padding-left: 100px;
        vertical-align: top;
    }
    
    .strength-block-first {
        margin-left: 0;
    }
    
    .full-img {
        max-height: 525px;
        width: 100%;
    }
    
    .strength {
        height: 135px;
        margin-top: 140px;
        margin-left: 800px;
    }
    
    .con {
        white-space:nowrap;
    }
    
    .strength-block::after {
        content: "";
        display: block;
        clear: both;
      }
    
    .Strong_points::after {
        content: "";
        display: block;
        clear: both;
      }
    
    @supports (display: grid) {
        
        .con {
            display: grid;
            grid-template-columns: calc((max-content - 560px) / 3) 25% 560px 25%;
            grid-template-rows: 275px 525px auto;
            grid-column-gap: 28px;
        }
    
        .strong {
            position: relative;
            top: 0;
            transform: rotate(-90deg);
            grid-column-start: 2;
            grid-column-end: 3;
            width: 200px;
        }
    
        .strength {
            grid-column-start: 3;
            grid-column-end: 5;
            margin: 0;
            padding-top: 140px;
        }
    
        .strength-block {
            margin: 0;
        }
    
        .list {
            padding-left: 70px;
        }
        
        .strong {
            margin: 0;
        }
        
        .strength-block {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1023px) {
    #Strong_points {
        max-width: 100%;
        width: min-content;
        overflow-x: auto;
    }
    
    .strength h3{
        margin: 0;
        font-weight: 300;
    }
    
    .list ul {
        list-style-type: none;
    }
    
    .strong {
        padding-top: 78px;
        padding-left: 1000px;
    }
    
    .strength-block {
        display: inline-block;
        width: 350px;
        margin-left: 22px;
    }
    
    .list {
        width: 215px;
        padding-left: 5px;
        vertical-align: top;
    }
    
    .strength-block-first {
        margin-left: 0;
    }
    
    .full-img {
        max-height: 525px;
        width: 100%;
    }
    
    .strength {
        height: 135px;
        margin-top: 140px;
        margin-left: 800px;
    }
    
    .con {
        white-space:nowrap;
    }
    
    .strength-block::after {
        content: "";
        display: block;
        clear: both;
      }
    
    .Strong_points::after {
        content: "";
        display: block;
        clear: both;
      }
    
    @supports (display: grid) {
        
        .con {
            display: grid;
            grid-template-columns: calc((max-content - 215px) / 3) 25% 215px 25%;
            grid-template-rows: calc(100vh * 0.17) 100px auto;
           grid-column-gap: 22px;
        }
    
        .strong {
            padding-left: 0;
            grid-column-start: 4;
            grid-column-end: 5;
        }
    
        .strength {
            grid-column-start: 3;
            grid-column-end: 5;
            margin: 0;
        }
    
        .strength-block {
            margin: 0;
        }
        
        .strong {
            margin: 0;
        }
        
        .strength-block {
            margin: 0;
        }
    }
}