 @import 'Atlas_Studio.css';
 @import 'Biography.css';
 @import 'Designers.css';
 @import 'Testimonials.css';
 @import 'Strong_points.css';


 body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Roboto", sans-serif;
 }

 .butler {
  font-family: "Butler", sans-serif;
  font-weight: 300;
 }

* {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
}

section {
    height: 100vh;
    position: relative;
    width: 100%;
  }

@media screen and (min-width: 1024px) {
  main {
    max-width: 1440px;
  }
  
  section {
    min-height: 800px;
  }
   
  .bg-test {
    background: url(../img/Otus-0.jpg);
    width: 1440px;
    height: 0;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background-size: 100% auto;
    opacity: 0.15;
  }
}

@media screen and (max-width: 1023px) {
  main {
    
  }

  section {
    min-height: 600px;
  }
}