#Testimonials {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 140px 1fr;
    width: 1250px;
    align-items: center;
}

.testim {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 84px;
    box-sizing: border-box;
}

.link {
    margin: 0 40px;
    box-sizing: border-box;
}

.links {
    display: inline-flex;
    transform: rotate(-90deg);
    flex-wrap: nowrap;
    width: 84px;
    justify-content: space-around;
}

.cafe_img{
    width: 515px;
    height: 757px;
}

.cafe {
    height: 757px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

.people {
    height: 757px;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.woman_img {
    width: 100%;
    height: auto;
}

.block_woman {    
    width: 45%;
}
