#Testimonials {
    display: grid;
    grid-template-columns: 100px 60% 40%;
    grid-template-rows: 140px calc(100vh - 140px);
    
    align-items: center;
}

.testim {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 84px;
    box-sizing: border-box;
}

.link {
    margin: 0 40px;
    box-sizing: border-box;
}

.links {
    display: flex;
    transform: rotate(-90deg);
    flex-wrap: nowrap;
    width: 84px;
    justify-content: space-around;
}

.cafe_img{
    height: 100%;
}

.cafe {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.people {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.woman_img {
    width: 100%;
    height: auto;
}

.block_woman {    
    width: 45%;
}
