.designers-block {
    margin: 0;
    width: 25%;
    padding-left: 2%;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .designers-block {
        width: auto;
        padding-left: 30px;
        overflow-x: hidden;
        max-width: calc(100vw * 0.61);
    }
}
